body {
  display: flex;
  margin: 0;
  font-size: 2rem;
  min-height: 100vh;
}

/* aside {
  outline: 1px solid black;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 250px;
}

ul {
  outline: 1px solid black;
  background-color: chocolate;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  outline: 1px solid black;
} */

/* div {
  outline: 1px solid black;
  background-color: darkorange;
  height: 300px;
  margin-top: auto;
} */

main{
  outline: 1px solid black;
  background-color: aqua;
  /* flex: 1; */
  width: 700px;
  margin:0 auto;
}
