/*
position
  画面の特定の位置に要素を固定して表示させるプロパティ
  親要素に関して定義する

  position: relative; -> 現在表示されている位置から相対的にppositionをとる
*/

#container {
  padding: 1rem;
  background-color: gray;
}

div {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.1em;
  width: 150px;
  height: 150px;
  box-shadow: 7px 7px 0 0 #000;
}

.div-1 {
  background: orange;
}
.div-2 {
  background: tomato;
}
.div-3 {
  background: teal;
}
.div-4 {
  width: 80px;
  height: 80px;
  background-color: violet;
}
